*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    padding-left: 2rem;
}
.nav-pills .nav-link {
    text-align: center;
    margin: 5px 0;
}
.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
    color: #31344b;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px #ceced1;
}
.callout-info {
    border-left-color: #5bc0de;
}
.form__input {
    letter-spacing: .15px;
    border: none;
    outline: 0;
    padding: 0.5rem 1rem;
    background-color: #ecf0f3;
    transition: .25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    margin-top: 1rem;
}
.btn--primary {
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: #4b70e2;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: 0;
    padding: 10px 40px;
    transform: scale(1);
    margin-top: 1rem;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-top: 1rem;
}
.px-2 {
    padding-left: 3.5rem!important;
}